/* Card styles */
.amazon-card {
  width: 100% !important;
  max-width: none !important;
  flex: 1 1 auto !important;
  padding: 10px;
  background: white;

  font-family: Arial, sans-serif;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
  height: 256px;
  object-fit: contain;
}

.color-options {
  display: flex;
  gap: 5px;
  margin: 6px 0;
}
.color-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.more-colors {
  font-size: 12px;
  color: #007185;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
}
.product-title:hover {
  color: #c45529;
}
.item-text {
  font-size: 14px;
  color: #565959;
}
.rating {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.star-icon {
  color: #ffa41c;
}
.price {
  margin-top: -12px;
}
.item-price {
  font-size: 28px;
}
.mrp {
  text-decoration: line-through;
  font-size: 13px;
  color: #565959;
}

.offer {
  font-size: 13px;
}
.delivery {
  font-size: 15px;
  font-weight: 500;
}
.cart-btn {
  width: 50%;
  padding: 6px;
  background: #ffd814;
  border: 1px solid #fcd200;
  margin-bottom: 10px;
}
.cart-btn:hover {
  background: #f7ca00;
}

.img-bg {
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0;
}

.pag-btn {
  border: 1px solid #ccc;
  background: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.pag-btn:hover {
  border-color: #000;
}

.pag-btn.active {
  border: 1px solid #000;
  font-weight: bold;
}

.dots {
  padding: 6px 12px;
  font-size: 14px;
}
