.feature-card {
  background: white;
  width: 300px !important; /* remove fixed 311px */
  padding: 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.feature-card h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  height: 48px; /* Keeps 2 lines max */
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  border-radius: 3px;
}
.image-box {
  text-align: left;
  height: 150px;
  margin-bottom: 0;
}
.img-text {
  font-size: 13px;
  line-height: 14px;
  color: #0f1111;
  overflow: hidden;
  margin-top: -25px;
}

.save {
  background-color: #7fda69;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}

.price-tag {
  color: #000;
  font-size: 22px;
  margin-top: -10px;
}
.real-price {
  font-size: 14px;
  text-decoration: line-through;
}
.mark {
  font-size: 28px;
  background: white !important;
  color: orange !important;
  margin-right: -8px;
}
.btn-style {
  background-color: #ffa41c;
  padding: 5px 15px;
  font-size: 12px;
  margin-top: -10px !important;
}

@media screen and (min-width: 1500px) {
  .img-text {
    margin-top: 2px;
    text-align: center;
  }
}
