.product-card {
  background: #fff;
  padding: 20px;
  width: 313px;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
}

.product-main-img {
  max-width: 275px;
  height: 166px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.product-desc {
  font-size: 12px;
  color: #555;
  margin: 5px 0;
}

.dicountprice {
  font-size: 18px;
  font-weight: 500;
}
.mrp {
  font-size: 14px;
  text-decoration: none;
}
.mrp-price {
  font-size: 14px;
}

.thumbnail-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.767);
  cursor: pointer;
  border-radius: 10px;
}

.thumbnail-img.active {
  border: 2px solid blue;
}
