.nav-logo {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.nav-links span {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-links span:hover {
  color: #0073e6;
}

.nav-icon {
  font-size: 8px;
}

.nav-right {
  text-align: right;
  line-height: 14px;
}

.nav-right-title {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.nav-right-sub {
  font-size: 11px;
  color: #777;
}

/* Responsive */
@media (max-width: 991px) {
  .nav-links {
    display: none; /* Hide links on mobile */
  }
}
